/* ==UserStyle==
@name        20min mot fleches tweeks
@namespace   taoufix.com/stylus/20min-mots-fleches-tweeks
@version     1.0.3
@author      taoufix
==/UserStyle== */
@-moz-document domain("rcijeux.fr") {
    .cell__definition--highlight .cell__definition--background {
        fill: black !important;
    }
    .game {
        padding: 10px !important;
    }
    .app {
        max-width: 880px !important;
    }
    .dots--dash {
        stroke-dasharray: 14 !important;
        stroke: red !important;
        stroke-width: 5px !important;
    }
}
