/* ==UserStyle==
@name        Better MS Teams
@namespace   taoufix.com/stylus/better-ms-teams
@version     1.0.0
@description Better MS Teams
@author      taoufix
==/UserStyle== */
@-moz-document domain("teams.microsoft.com") {
    
.ts-unread-channel {
    color: yellow !important;
}

/* Make layout of messages in conversation mode the same as channel mode */
.conversation-bubble-previous .conversation-start .self::before {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    background-size: 32px;
    
    content: "🧔";
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    background: pink;
    /*
    content: "";
    background-image: url('blob:https://teams.microsoft.com/UUID');
    */
}
    
message-list.chat-style .self .media-left ~ .ts-message-thread-body {
    padding-left: 42px;
}

.chat-style .self .ts-message-thread-body {
    justify-content: initial;
}

.message-body-width {
    width: 100%;
}

.list-wrap.list-wrap-v3.ts-message-list-container, 
.ts-new-message-footer.new-message-common.rich-style-enabled,
.extension-icons-container.new-message-common.compose-stripe.compose-stripe-flex-reverse,
virtual-repeat>.list-wrap>*.item-wrap,
div#ts-bottom-compose-identifier {
    max-width: initial;
}

.ts-new-message-footer.new-message-common.rich-style-enabled,
.extension-icons-container.new-message-common.compose-stripe.compose-stripe-flex-reverse {
    margin: 0 3rem;
}

.placeholder-item.message-body-width.self {
    right: initial;
}

}
