/* ==UserStyle==
@name        Better Feedly
@namespace   taoufix.com/stylus/better-feedly
@version     1.0.0
@description Better Feedly
@author      taoufix
==/UserStyle== */
@-moz-document domain("feedly.com") {

/* Make selecedt entry readable in compact mode. */
.fx .entry.selected .title {
    color: black !important;
    font-weight: bold !important;
}

/* Disable upgrade button */
#searchBarFX > div > button {
	display: none !important;
}
}
