/* ==UserStyle==
@name        Dark Hacker News
@namespace   taoufix.com/stylus/hn-dark
@version     1.0.2
@description Dark Hacker News
@author      taoufix
==/UserStyle== */
@-moz-document domain("news.ycombinator.com") {

    :root {
        --light: #eee;
        --dark: #111;
        --gray: #777;
        --border: #777;
        --visited: #99f;
    }

    * {
        outline: 0 !important;
    }

    /* Scrollbars */
    /* Firefox */
    body {
        /* csslint allow: known-properties */
        scrollbar-width: thin; 
        /* csslint allow: known-properties */
        scrollbar-color: var(--gray)r transparent;
    }
    /* Chrome */
    body::-webkit-scrollbar {
        width: 5px;
    }
    body::-webkit-scrollbar-thumb {
        background-color: var(--gray);
    }


    /* Links */
    a {
        color: var(--light) !important;
    }

    /* Header */
    #hnmain td {
        background-color: var(--dark);
    }

    body,
    #hnmain,
    textarea,
    input,
    .fatitem td,
    .pagetop,
    .c00
     {
        background-color: var(--dark) !important;
        color: var(--light) !important;
    }


    textarea {
        border: 1px solid var(--border) !important;
        padding: 4px !important;
    }

    /* Add comment */
    input {
        border: 1px solid var(--border) !important;
        padding: 5px 20px !important;
        border-radius: 5px !important;
    }
    input::-moz-focus-inner {
        border: 0;
    }
    input[type="submit"] {
        cursor: pointer !important;
    }
    input[type="submit"]:active {
        color: var(--dark) !important;
        background-color: orangered !important;
    }

    .title a:visited {
        color: var(--visited) !important;
    }

    .subtext a {
        color: var(--gray) !important;
    }

    .comment {
        border-left: 2px solid var(--gray);
        padding-left: 5px;
    }

    /* Fix text lenght */
    .comment {
        max-width: 40rem !important;
        font-size: 1.1em;
        line-height: 1.5em;
    }
}
