@-moz-document url-prefix("https://play.google.com/music/") {
* {
    background-color: black !important;
    color: #999 !important;
}

img {
     opacity: 0.2 !important;
     filter: grayscale(75%) !important;
}

.song-row.selected-song-row td,
.song-row.currently-playing td,
.song-row.currently-playing td * {
    background-color: #333 !important;
    color: #999 !important;
}

#sliderKnob,
.paper-slider-0 #sliderBar.paper-slider {
    background-color: transparent !important;
}

.paper-progress-2 #primaryProgress.paper-progress {
    background: #555 !important;
}


}
