/* ==UserStyle==
@name        Pretty Text News
@namespace   taoufix.com/stylus/text-news
@version     1.0.0
@description Make text news (CNN, NPR) prettier
@author      taoufix
==/UserStyle== */
@-moz-document domain("lite.cnn.io"), domain("text.npr.org") {
body {
    max-width: 800px;
    margin: auto;
    background-color: #222;
    color: #bbb;
    line-height: 2em;
    font-family: sans-serif;
}

a {
    color: #aaf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

}
