/* ==UserStyle==
@name        Pretty Text News
@namespace   taoufix.com/stylus/text-news
@version     1.1.0
@description Make text news (CNN, NPR) prettier
@author      taoufix
==/UserStyle== */
@-moz-document domain("lite.cnn.io"),
domain("text.npr.org") {
    body {
        max-width: 800px;
        margin: auto;
        padding: 1em;
        background-color: #222;
        color: #bbb;
        line-height: 1.25em;
        font-family: sans-serif;
    }
    a {
        color: #c2c2ee;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    ul {
        list-style-type: none;
        padding: 10px 0;
    }
    li {
        margin: 1em 0;
    }
    li a {
        padding: 13px;
        border: 1px solid #555;
        border-radius: 5px;
        width: 100%;
        display: block;
    }
    li a:hover {
        background: #333;
        text-decoration: none;
    }

}
