/* ==UserStyle==
@name        Strands Tweaks
@namespace   https://github.com/taoufix/user-styles/strands
@version     1.1.0
@description Lower case letters
@author      taoufix
==/UserStyle== */

@-moz-document url-prefix("https://www.nytimes.com/games/strands") {

.pz-nav,
section,
dialog,
dialog > *,
.pz-game-wrapper,
.pz-game-field,
    
footer
{
  background-color: black !important;
  color: #777;
}

body {
  background-color: black;
  color: #777;
  --blue: #339;
  --darkreader-inline-color: #070 !important;
}

button {
  color: #933 !important;
  animation: none !important;
}

#hint button,
#hint > div {
  pointer-events: none;
}
 
}
