@-moz-document domain("thin.npr.org") {
html {
    font-size: 1.2em;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 2em;
    margin: 1em;
    color: white;
    background-color: black;
    -webkit-font-smoothing: subpixel-antialiased;
}

    body {
        max-width: 800px;
        margin: auto;
        padding: 0.5rem;
        padding-right: 2rem;
    }

    a {
        color: LightBlue;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .text-only {
        margin: 0 auto 0.2rem;
        padding: 0;
        font-style: italic;
    }

    .home {
        display: none;
    }

    .date {
        clear: both;
        display: inline-block;
        font-style: italic;
        margin: 0;
    }

    .section-title {
        clear: both;
        margin: 1.5rem 0 1rem;
        font-weight: bold;
    }

    ul {
        margin: 0;
    }

    ul.navigation {
        margin: 2rem auto 0rem;
        width: fit-content;
        text-align: center;
        padding: 0;
    }
    ul.navigation li {
        display: inline-block;
        margin: 0.1rem 0.5rem;
        font-size: 0.9rem;
    }
    .copyright {
        font-size: 0.9rem;
    }

}
