@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("https?://.*") {
  
  /* Global */
  * {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #fff !important;
  }

  /* Tables */
  td {
    border: 1px solid #999 !important;
  }

  /* Images */
  * {
    background-image: none !important;
  }
  img {
    opacity: 0.1 !important;
     filter: grayscale(100%) !important;
  }
  svg {
    visibility: hidden !important;
  }
  input[type="image"] {
    filter: grayscale(100%) !important;
  }

  /* Links */
  a {
     color: #1A0DAB !important;
  }
 
}
